.dropdown-toggle,
.dropdown-item {
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #332a2a;
    color: white;
    border-radius: 3px;
  }
}
